/* flavor.css */
/* flavor icon slider */
@font-face {
  font-family: 'Donatello';
  src: url('../assets/Donatello.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Vividly';
  src: url('../assets/Vividly-Regular.ttf') format('ttf'),
      url('../assets/Vividly-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: 'Louis-George-Cafe-Italic';
  src: url('../assets/Louis-George-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'Louis-George-Cafe-Heavy';
  src: url('../assets/Louis-George-Italic-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: oblique;
}

.container{
  text-align: center;
}

.header{
  padding: 0px;
  margin: 0px;
  background-color: #2bc1cc;
}
.header-text{
  text-align: center;
  font-size: 54px;
  font-family: 'Donatello', sans-serif;
}

.header-subtitle{
  text-align: center;
  font-family: 'Vividly', sans-serif;
  font-size: 40px;
  padding-bottom: 5px;
}
.wave-header {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #2BC1CC;
  color: white;
}

.modal-header{
  font-family: 'Vividly';
  font-size: 40px;
}

.modal-body{
  font-family: 'Louis-George-Cafe-Italic';
  font-style: italic;
  font-size: 20px;
}

.modal-button{
  display: inline-block;
  height: 50px;
  width: 30%;
  border-radius: 25px; 
  background-color: #2bc1cc;
  border: none;
  font-family: 'Vividly', sans-serif;
  font-size: 30px;
  color:white;
}

.header-content {
  padding: 40px 20px;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.wave-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: clamp(40px, 10vw, 80px);
  display: block;
  margin-bottom: -1px; 
  margin-top: 0px;
}


.flavors-con {
  padding: 2%;
}
.flavor-icon {
  padding: 2%;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
  /* background-color: #ffffffff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}
.slidecontainer-percent {
  padding-left: 10px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: transparent;
  background-color: #ffffffff;
  cursor: pointer;
}

.flavors-con{
  padding-bottom: 70px;
  text-align: left;
  font-family: 'Louis-George-Cafe-Heavy';
  font-style: oblique;
  color: #4a4a4a
}

.surprise-me-button{
  display: inline-block;
  height: 40px;
  width: 50%;
  border-radius: 25px; 
  background-color: #2bc1cc;
  border: none;
  font-family: 'Vividly', sans-serif;
  font-size: 30px;
  color:white;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 25px;
  border: 0;
  background: transparent;
  background-color: #ffffffff;
  cursor: pointer;
}

.icon_bitter::-webkit-slider-thumb {
  background: url('../../public/images/icon_bitter.svg');
}

.icon_bitter::-moz-range-thumb {
  background: url('../../public/images/icon_bitter.svg');
}

.icon_rich::-webkit-slider-thumb {
  background: url('../../public/images/icon_rich.svg');
}

.icon_rich::-moz-range-thumb {
  background: url('../../public/images/icon_rich.svg');
}

.icon_salty::-webkit-slider-thumb {
  background: url('../../public/images/icon_salty.svg');
}

.icon_salty::-moz-range-thumb {
  background: url('../../public/images/icon_salty.svg');
}

.icon_sour::-webkit-slider-thumb {
  background: url('../../public/images/icon_sour.svg');
}

.icon_sour::-moz-range-thumb {
  background: url('../../public/images/icon_sour.svg');
}

.icon_spicy::-webkit-slider-thumb {
  background: url('../../public/images/icon_spicy.svg');
}

.icon_spicy::-moz-range-thumb {
  background: url('../../public/images/icon_spicy.svg');
}

.icon_sweet::-webkit-slider-thumb {
  background: url('../../public/images/icon_sweet.svg');
}

.icon_sweet::-moz-range-thumb {
  background: url('../../public/images/icon_sweet.svg');
}

.icon_umami::-webkit-slider-thumb {
  background: url('../../public/images/icon_umami.svg');
}

.icon_umami::-moz-range-thumb {
  background: url('../../public/images/icon_umami.svg');
}

.footnext{
  height: 40px;
  width: 100px;
  border-radius: 25px; 
  background-color: white;
  border: none;
  font-family: 'Vividly', sans-serif;
  font-size: 30px;
  color:#2BC1CC;
}

.footback{
  height: 40px;
  width: 100px;
  border-radius: 25px; 
  background-color: white;
  border: none;
  font-family: 'Vividly', sans-serif;
  font-size: 30px;
  color:#2BC1CC;
}

