/* home.css home page */
@font-face {
  font-family: 'Donatello';
  src: url('../assets/Donatello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Vividly';
  src: url('../assets/Vividly-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: 'Louis-George-Cafe-Italic';
  src: url('../assets/Louis-George-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'Louis-George-Cafe-Heavy';
  src: url('../assets/Louis-George-Italic-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: oblique;
}

.homepage{
  background-color: #2BC1CC;
  padding: 10px;
  margin : 0px; 
}

.hm-page-main-buttons{
  height: 60px;
  width: 75%;
  border-radius: 25px;
  background-color: white;
  border: none;
  font-family: 'Vividly', sans-serif;
  font-size: 33px;
  color:#2BC1CC;
}

.hm-page-sub-buttons{
  height: 35px;
  width: 90%;
  border-radius: 25px; 
  background-color: white;
  border: none;
  font-family: 'Vividly', sans-serif;
  font-size: 25px;
  color:#2BC1CC;
}

#title-1 {
  font-size: 300%;
  font-family: 'Vividly', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  
}
#title-2 {
  padding: 5%;
  font-size: 500%;
  font-family: 'Donatello', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.card {
  width: 100%;
  word-wrap: break-word;
  padding-left: 0px;
}


.title-con {
  background-color: #2BC1CC;
  text-align: center;
  color: white;
  padding-top: 100px;
  /* min-height requires display, flex-direction, align-itmes, and justify-content */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons-con {
  padding: 2%;
  text-align: center;
}
.buttons-con-inner {
  padding: 3%;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.buttons-con-inner > * {
  /* for when the buttons wrap to next row */
  flex: 1 1 auto;
  margin: 5px;
}
.flavor-icons-con {
  padding: 2%;
}
button.button-start {
  padding: 5%;
}
.button-start-con {
  padding: 5%;
  margin: 10px;
  text-align: center;
}
.flavor-icons-con {
  padding: 2%;
  text-align: center;
  margin: 15%;
}
.flavor-icon {
  padding: 2%;
  width: 60px;
}
