/* home.css home page */
@font-face {
  font-family: 'Donatello';
  src: url('../assets/Donatello.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Vividly';
  src: url('../assets/Vividly-Regular.ttf') format('ttf'),
      url('../assets/Vividly-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.homepage{
  background-color: #2BC1CC;
  padding: 10px;
  margin : 0px; 
}

#title-1 {
  font-size: 300%;
  font-family: 'Vividly', sans-serif
  
}
#title-2 {
  padding: 5%;
  font-size: 500%;
  font-family: 'Donatello', sans-serif
}

.card {
  width: 100%;
  word-wrap: break-word;
  padding-left: 0px;
}


.title-con {
  background-color: #2BC1CC;
  text-align: center;
  color: white;
  padding-top: 100px;
  /* min-height requires display, flex-direction, align-itmes, and justify-content */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons-con {
  padding: 2%;
  text-align: center;
}
.buttons-con-inner {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.buttons-con-inner > * {
  /* for when the buttons wrap to next row */
  flex: 1 1 auto;
  margin: 5px;
}
.flavor-icons-con {
  padding: 2%;
}
button.button-start {
  padding: 5%;
}
.button-start-con {
  padding: 5%;
  margin: 10px;
  text-align: center;
}
.flavor-icons-con {
  padding: 2%;
  text-align: center;
  margin: 15%;
}
.flavor-icon {
  padding: 2%;
}
