/* recipeList.css */
.get-recipes-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-match {
  padding-top: 10px;
}
.popup-button {
  /* padding-top: 15px; */
  margin: 10px;
}
.card-contents {
  margin: 10px;
}
.card-title {
  font-size: 200%; 
  color: #6cb1c9;
}