.recipe-image-con {
  padding: 15px;
  text-align: center;
  align-items: center;
  max-width: 500px; /* prevent it from getting too big */
}
.recipe-image {
  max-width:100%;
  max-height:100%;
  margin-bottom: 10px;
}
.rp-button {
  margin: 5px;
}

.Display-Recipe{
  display: inline-block;
  height: 50px;
  width: 100%;
  border-radius: 25px; 
  background-color: #2bc1cc;
  border: none;
  font-family: 'Vividly', sans-serif;
  font-size: 30px;
  color:white;
}

.Substitute-Ingredients{
  display: inline-block;
  height: 50px;
  width: 100%;
  border-radius: 25px; 
  background-color: #2bc1cc;
  border: none;
  font-family: 'Vividly', sans-serif;
  font-size: 30px;
  color:white;
}

.modal-foot{
  display: inline-block;
  height: 50px;
  width: 30%;
  border-radius: 25px; 
  background-color: #2bc1cc;
  border: none;
  font-family: 'Vividly', sans-serif;
  font-size: 30px;
  color:white;
}