/* app.css shared styling */
/* headers and footers (shared thorugh multiple files) */
@font-face {
  font-family: 'Donatello';
  src: url('./assets/Donatello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Vividly';
  src: url('./assets/Vividly-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: 'Louis-George-Cafe-Italic';
  src: url('./assets/Louis-George-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'Louis-George-Cafe-Heavy';
  src: url('./assets/Louis-George-Italic-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: oblique;
}


.header {
  background-color: #2BC1CC;
  padding: 2%;
  color: white;
  margin-bottom: 10px;
}
.header-buttons-con {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Aligns items vertically in the center */
}
.nav-button {
  gap:10px;
  padding-left: 10px;;
  padding-right: 10px;;
}
.header-recipe {
  margin-left: auto; /* Pushes this item to the right */
}
.header-title {
  padding: 10px;
  text-align: center;
}
.footer-buttons-con {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Aligns items vertically in the center */

  padding: 2%;
  margin: 10px;
}
.footer-back {
  margin-right: auto; /* Pushes this item to the left */

}
.footer-next {
  margin-left: auto; /* Pushes this item to the right */
}


/* myrecipe*/


.myrecipe-list {
  padding-left: 10px;
}

.myrecipe-err {
  margin-left: 10px;
  color: #676767;
}
