/* app.css shared styling */
/* headers and footers (shared thorugh multiple files) */
.header {
  background-color: #2BC1CC;
  padding: 2%;
  color: white;
  margin-bottom: 10px;
}
.header-buttons-con {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Aligns items vertically in the center */
}
.nav-button {
  gap:10px;
  padding-left: 10px;;
  padding-right: 10px;;
}
.header-recipe {
  margin-left: auto; /* Pushes this item to the right */
}
.header-title {
  padding: 10px;
  text-align: center;
}
.footer-buttons-con {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Aligns items vertically in the center */

  padding: 2%;
  margin: 10px;
}
.footer-back {
  margin-right: auto; /* Pushes this item to the left */

}
.footer-next {
  margin-left: auto; /* Pushes this item to the right */
}

